# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

# See https://help.github.com/ignore-files/ for more about ignoring files.

# node_modules and webpack
node_modules
bundle.js
backups
package-lock.json

# IntelliJ
*.iml
/.idea

# build resources
build
dist
coverage

# files
.DS_Store
Config
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*gz
*local.md
*.local
*.public
*old

# git
!.gitkeep

# misc project specifics
tmp
cert
